snippet addSection "\addSection sectionName ="
\addSection ${1:section} \with {
	chords = \chordmode {
		$2
	}
	music = \relative c'' {
		\sectionMark \default
		\repeat unfold 8 { r1 }
		\sectionEnd
	}
}
endsnippet

snippet addChorus "\addSection chorus ="
\addSection ${1:chorus} \with {
	chords = \chordmode {
		$2
	}
	music = \relative c'' {
		\sectionMark "Chorus"
		\repeat unfold 8 { r1 }
		\sectionEnd
	}
}
endsnippet

snippet addChorus "\addSection outtro ="
\addSection ${1:outtro} \with {
	chords = \chordmode {
		$2
	}
	music = \relative c'' {
		\sectionMark "Outtro"
		\repeat unfold 8 { r1 }
		\sectionEnd
	}
}
endsnippet

snippet section "section = \relative "
${1:section} = \relative c'' {
	\mark \default
	\repeat unfold 8 { r1 }
	\bar "||"
}

${1}Chords = \chordmode {
}
endsnippet

snippet chorus "chorus = \relative "
chorus${1} = \relative c'' {
	\mark \default
	\repeat unfold 8 { r1 }
	\bar "||"
}

chorus${1}Chords = \chordmode {
}
endsnippet

snippet chorus "outtro = \relative "
${1:outtro} = \relative c'' {
	\mark \default
	\repeat unfold 8 { r1 }
	\bar "||"
}

${1:outtro}Chords = \chordmode {
}
endsnippet
