snippet #fsl "# frozen string literal: true"
# frozen_string_literal: true


endsnippet

snippet des "describe ... do ... end"
describe ${1:subject} do
  $0
end
endsnippet

snippet it "it '...' do ... end"
it '$1' do
  $0
end
endsnippet
